{% load static %}
<div class="call">
  <button class="close-icon close"></button>
  <form class="form" name="form_social">
    <div class="form__item">
      <input type="text" name="call__text" placeholder="Ваше Имя" />
    </div>
    <div class="form__item">
      <input type="tel" name="call__tel" placeholder="+38(050)-123-23-34" />
    </div>
    <div class="form__item">
      <textarea name="comment" rows="3" placeholder="Комментарий"></textarea>
    </div>
    <div class="form__item">
      <input type="submit" value="Жду Звонка" />
    </div>
  </form>
</div>