{% load static %}
<ul class="social">
    <li class="social__item" hidden>
      <a href="" class="social__link" target="_blank" id="menu">
        <img src="{% static '/img/open-menu.svg' %}" alt="Меню сайта" />
      </a>
    </li>
    <li class="social__item">
      <a href="https://www.facebook.com/profyshoptop" class="social__link"
        target="_blank" id="facebook"><img
          src="{% static '/img/facebook.svg' %}"
          alt="Facebook Profy Shop" /></a>
    </li>
    <li class="social__item">
      <a href="https://www.instagram.com/profyshop_top/" class="social__link"
        target="_blank" id="instagram"><img
          src="{% static '/img/instagram.svg' %}"
          alt="Instagram Profy Shop" /></a>
    </li>
    <li class="social__item">
      <a href="" class="social__link" target="_blank" id="map">
        <img src="{% static '/img/google-maps.svg' %}" alt="Где мы находимся" />
      </a>
    </li>
    <li class="social__item">
      <a href="" class="social__link" target="_blank" id="telephone">
        <img src="{% static '/img/telephone.svg' %}" alt="Кнопка Жду Звонка" />
      </a>
    </li>
  </ul>