{% extends 'base.html' %}
{% load static %}
{% block title %}<title> Profy Shop Top - Эта страница о нас </title>
{% endblock title %}
{% block preloader %}{% endblock preloader %}
{% block content %}
<main class="about wow scale-in-ver-bottom">
  <p>
    У учебного проекта есть только одно приложение polls. В реальных проектах
    Django может быть пять, десять, двадцать приложений или больше. Как Django
    различает имена URL между ними? Например, pollsприложение имеет detail
    представление, как и приложение в том же проекте, что и для блога. Как
    сделать
    так, чтобы Django знал, какое представление приложения создать для URL при
    использовании тега шаблона?
  </p>

  <p>
    Ответ заключается в том, чтобы добавить пространства имен в ваш URLconf. В
    этом polls/urls.py файле добавьте, app_nameчтобы установить пространство
    имен
    приложения:
  </p>
  <hr>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam beatae
    itaque velit iste quibusdam commodi iure illo, odio omnis quis. Totam sit
    officiis praesentium blanditiis, voluptas laudantium adipisci cumque. In!
    Nostrum aliquam ipsa cupiditate magni culpa neque aliquid temporibus,
    architecto enim deleniti nobis ratione in quasi? Unde tempore cumque ad quo
    ut
    <hr>
    illum velit atque? Tempora, soluta. Doloribus, obcaecati quidem.
    Nobis ratione blanditiis a? Aliquid ipsam ipsum iste ducimus rem cum iure
    officia? Rem vel, quibusdam, iste in placeat maxime consequatur quis
    numquam,
    doloremque accusantium nobis reiciendis pariatur ipsum! Tempore!
    Odit assumenda quidem sunt incidunt vitae, repellat libero. Sunt voluptas
    nesciunt quas, aspernatur magnam reiciendis distinctio esse ratione
    inventore
    et quae. Placeat omnis dolor aspernatur qui laboriosam, tenetur neque nam.
    Delectus quo exercitationem fugit repudiandae, illo accusantium distinctio
    vitae optio tenetur deleniti assumenda facere libero tempora voluptatem
    aliquid iusto suscipit inventore ipsum. Ipsam distinctio accusantium cum ab
    nobis voluptates enim.
    Excepturi libero obcaecati iusto sed voluptate cum enim ratione hic iure
    magni
    <hr>
    et corporis nemo nobis aliquam qui molestiae itaque animi ipsam repellat
    nisi,
    est sapiente fuga velit delectus! Ut?
    Est laudantium excepturi, nam quisquam incidunt ipsam doloremque
    perspiciatis,
    dignissimos debitis libero fugit sequi similique eum voluptates odio omnis
    pariatur sed tempore molestias totam dicta ratione delectus magni. Rerum,
    velit?
    Ex, commodi magnam quis quasi nobis libero mollitia iusto sequi officia
    perferendis facere natus deserunt veniam veritatis ab amet culpa velit
    voluptatum optio eveniet quod! Omnis harum illo quae vel.
    Veritatis molestias commodi autem voluptas distinctio dolores harum modi
    assumenda explicabo esse quaerat quibusdam sapiente quis eaque incidunt
    atque,
    temporibus quos perspiciatis aliquid sit neque libero quasi debitis.
    Similique, voluptatem.
    Quia vitae eum doloremque eos velit illo consequatur perferendis quod sunt
    quasi deleniti nemo eius consectetur, libero quas natus tempore eligendi, in
    temporibus quo nobis ratione facere. Commodi, magnam ex?
    Voluptate fugiat illo, possimus, repellat nihil enim quod similique animi
    provident quaerat quos exercitationem in, porro odio ex minima facilis!
    Laudantium veniam recusandae saepe provident obcaecati laborum tempora minus
    quibusdam.
    Commodi laboriosam illum enim rem rerum sit, sunt hic aperiam fuga cum
    cupiditate qui, minima recusandae ab. Aperiam praesentium quam, officia
    quaerat non consequatur quis libero? Nostrum, illo? Ipsa, placeat!
  </p>
</main>
{% endblock content %}